/**
 * Chrome Page Style
 */

body {
    background-color: white;
    font-family: Arial, sans-serif;
    font-size: 84%; 
    color: black;
    margin: 10px;
}

#header {
    overflow: auto;
    clear: both;
}

#logo {
    float: left;
}

#search-form {
    float: left;
    margin-top: 22px;
    -webkit-margin-start: 12px;
}

#title-bar {
    margin-top: 12px;
    border: 1px solid #9cc2ef;
    border-bottom: none;
    background-color: #ebeff9;
    padding: 3px;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
}

#title {
    font-weight: bold;
}

#title-bar a {
    float: right;
}

#doc-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.doc {
    position: relative;
    margin-bottom: 6px;
    padding: 6px;
}

.doc .doc-icon {
    position: absolute;
    top: 8px;
    left: 13px;
    width: 32px;
    height: 32px;
}

.doc .doc-name {
    margin-left: 50px;
}

.doc .doc-name a {
    -webkit-padding-end: 16px;
    max-width: 450px;
    word-break: break-all;
}

.doc .doc-name .label {
    display: inline;
    color: #56D;
    background: #EBEBEB;
    white-space: nowrap;
    padding: 2px 4px;
    -webkit-border-radius: 2px;
    text-decoration: none;
}

.doc .doc-name .label:hover {
    background: #CBCBCB;
}

.doc .doc-url, .doc .doc-path {
    margin-left: 50px;
}

.doc .doc-url a {
    display: inline-block;
    color: #56D;
    max-width: 500px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-decoration: none;
    padding-top: 4px;
    padding-bottom: 1px;
}

.doc .doc-ctrl {
    margin-left: 50px;
}

.doc .doc-ctrl a {
    color: #777;
    margin-right: 16px;
}

#add-doc {
    display: none;
    position: relative;
    margin-bottom: 10px;
    font-size: 12px;
    color: #333;
    padding: 10px;
    background: #FAFAFA;
    border: 1px solid #DDD;
    border-top: none;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}
#add-doc form { margin: 0; }
#add-doc .doc-url span { color: #56D; }
